// Base Colours
$color-white: #fff;
$color-body: #777;
$color-accent: #58e1c1;
$color-links-btns: #51ddfc;

// Button Colours
$success-btn: #63cc82;
$warning-btn: #fd7856;
$error-btn: #e4757a;
$info-btn: #927bc1;

// Media Queries
$media-break: 768px;
